.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .product-container {
    border: 1px solid #a335352a;
    padding: 16px;
    width: 100%; /* or a specific width */
  }
  
