/* Homepage.css */
.homepage {
  text-align: center;
}

.landscape-image {
  width: 100%;
  height: auto;
  object-fit: cover;  /* Ensures the image covers the container without distortion */
}

.slick-dots {
  bottom: 10px; /* Adjust dots position */
}

.slick-prev, .slick-next {
  z-index: 1; /* Bring arrows to the front */
}
