/* index.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
/* Header */
.header {
  background-color: #212a33;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0; /* Remove default margin */
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}

.header button {
  background-color: #ff4b5c; /* Button background color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.header button:hover {
  background-color: #e0434d; /* Darker shade for hover effect */
}

  
  /* Product List */
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Product Card */
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .product-card h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-card p {
    color: #555;
    margin-bottom: 10px;
  }
  
  .product-card p:last-of-type {
    font-weight: bold;
    color: #007bff;
  }
  
  
  /* tour List */
  .tour-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* tour Card */
  .tour-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .tour-card:hover {
    transform: scale(1.05);
  }
  
  .tour-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .tour-card h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .tour-card p {
    color: #555;
    margin-bottom: 10px;
  }
  
  .tour-card p:last-of-type {
    font-weight: bold;
    color: #007bff;
  }
  